
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    height: 775px;
    min-width: 1366px;
}
.INTRO
{
    background-color:#1E1E1E;
    padding:100px 0px;
    margin:0%;
}
header
{
    background-color: #939094;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 0%;
    margin: 0%;
    overflow: auto;
}
.myName
{
    font-size: 400%;
    font-family: 'M PLUS 1 Code', monospace;
    color:#1F1C1F;
    padding: 0%;
    margin: 0%;
}
.socials{
    display: grid;
    grid-template-columns: repeat(100,1%);
    grid-template-rows: repeat(1,100%);
}

.pixelMain
{
    grid-column:10/55;
    grid-row:1/1;
    z-index :0;
}
.github
{
    grid-column:13/23;
    grid-row:1/1;
    z-index: 1;
    align-self:center;
}
.linked
{
    grid-column:43/60;
    grid-row:1/1;
    z-index: 1;
    align-self:center;
}
.PR
{
    grid-column:65/100;
    grid-row:1/1;
    align-self:center;
}
.medium
{
    grid-column:68/100;
    grid-row:1/1;
    align-self:center;
    z-index:1;
}
nav p
{
    color:white;
    text-align:center;
    padding:0;
    font-family: 'Rubik Mono One', monospace;
    margin:20px;
    transition-duration: 200ms;
}
.imag img
{
    transition-duration: 200ms;
}
.imag:hover img
{
    transform: scale(130%);
}
.p1
{
    font-size:400%;
}
.p2
{
    font-size:350%;
}
.p3
{
    font-size:300%;
}
.p4
{
    font-size:250%;
}
.p5
{
    font-size:200%;
}
nav a {
    text-decoration: none;
}
nav a:hover p{
    transform: scale(130%);
}
.INTEREST
{
    background-color:#3A3E47;
    padding:100px 0px;
}
.iphone
{
    padding:0px 50px;
}
.changing
{
    color:white;
    font-size: 400%;
    font-family: 'Rubik Mono One', monospace;
    text-align: center;
    padding: 0px 0px 30px 0px;
}
.main
{
    color:white;
    font-size: 300%;
    font-family: 'Rubik Mono One', monospace;
    text-align: center;
    padding: 0px 0px 100px 0px;
}
.GALAXEE
{
    background-color:#5A4FA3;
    padding:100px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ABOUT
{
    background-color:#1E1E1E;
    padding:100px 0px;
}
.galaxy
{
    font-family: 'Oswald', sans-serif;
    text-align:center;
    color:white;
    font-size: 400%;;
}
.caption
{
    color:white;
    font-size: 150%;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
}
.Sub
{
    padding-left: 40%;
    transition-duration: 100ms;
}
a:hover .Sub
{
    transform: scale(125%);
}
.me
{
    padding-left: 47%;
}
.introduct
{
    color:white;
    font-size: 150%;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
}
.nothing
{
    display: grid;
    grid-template-columns: repeat(50,2%);
    grid-template-rows: repeat(50,2%);
    height:1000px;
    width : 956px;
    padding-left:15%;
}

.n
{
    transition-duration: 200ms;
}
.n:hover
{
    filter: brightness(500%);
}
.n1
{
    grid-column: 19/30;
    grid-row: 1/10;
}
.n2
{
    grid-column: 30/40;
    grid-row: 2/10;
}
.n3
{
    grid-column: 19/50;
    grid-row: 11/20;
}
.n4
{
    grid-column:26/40;
    grid-row: 10/20;
}
.n5
{
    grid-column: 36/50;
    grid-row: 19/30;
}
.n6
{
    grid-column: 20/40;
    grid-row: 26/30;
}
.n7
{
    grid-column: 19/30;
    grid-row: 17/40;
}
.n8
{
    grid-column: 33/40;
    grid-row: 26/40;
}
.n9
{
    grid-column: 29/50;
    grid-row: 33/40;
}
.n10
{
    grid-column: 29/50;
    grid-row: 39/60;
}
.sayhello
{
    text-decoration: none;
    grid-column: 23/35;
    grid-row: 18/21;
    padding:0px;
    margin:0px;
}
.sayhello p
{
    font-family: 'Rubik Mono One', monospace;
    font-size: 200%;
    color:white;
    text-align: center;
    padding: 0px 0px 0px 0px;
    transition-duration: 200ms;
}
.sayhello:hover p
{
    color:rgb(232, 177, 57);
}
.glitch
{
    text-align: center;
    font-size: 400%;
    color: whitesmoke;
    transition: background-color 0.3s;
    margin: auto;
    animation: glitchEffect 1s forwards alternate infinite;
}
@keyframes glitchEffect
{
    0%
    {
        text-shadow: red 3px 5px,cyan -3px -5px;
    }
    50%
    {
        text-shadow: cyan 2px 1.5px,red -2px -1.5px;
    }
}
.s23
{
    transform: scale(130%);
    padding-right: 10%;
    padding-top:5%
}
.custom-shape-divider-top-1704006087 {
    position: absolute;
    top: 89%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1704006087 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1704006087 .shape-fill {
    fill: #1E1E1E;
}
.custom-shape-divider-top-1704006470 {
    position: absolute;
    top: 333%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1704006470 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1704006470 .shape-fill {
    fill: #5A4FA3;
}
.custom-shape-divider-top-1704007733 {
    position: absolute;
    top: 260%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1704007733 svg {
    position: relative;
    display: block;
    width: calc(109% + 1.3px);
    height: 250px;
}

.custom-shape-divider-top-1704007733 .shape-fill {
    fill: #3A3E47;
}
.quiz
{
    color:white;
    font-size: 100%;
    font-family: 'Rubik Mono One', monospace;
    text-align: center;
}