*
{
    background-color:rgb(42, 41, 41);
}   
.sayMyName
{
    padding: 0px 35%;
}
.glitch
{
    text-align: center;
    font-size: 400%;
    color: whitesmoke;
    transition: background-color 0.3s;
    margin: auto;
    animation: glitchEffect 1s forwards alternate infinite;
}
@keyframes glitchEffect
{
    0%
    {
        text-shadow: red 3px 5px,cyan -3px -5px;
    }
    50%
    {
        text-shadow: cyan 2px 1.5px,red -2px -1.5px;
    }
}
.socials
{
    background-color: rgb(255, 255, 255) ;opacity: 50%;
    text-align: center;
}
.logo
{
    padding: 10px 10px 0px 10px;
    color: black;
    background-color: white;
    text-decoration: none;
}
.logo:link
{
    size:100px;
    box-shadow: 20px;
}
