@import 'tailwindcss';
:root {
	--accent: #eb5e28;
	--silver: #ccc5b9;
	--darkbg: #252422;
	--lightbg: #fffcf2;
}

.bayon {
	font-family: 'Bayon', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.share-tech {
	font-family: 'Share Tech', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.lux-roman {
	font-family: 'Luxurious Roman', serif;
	font-weight: 400;
	font-style: normal;
}
